@page
@model ForumWeb.Pages.Admin.ReportsAdminModel
@{
}




@foreach (var item in Model.Reports)
{
<div class="container">

    @if (item.CommentId != Guid.Empty)
    {
        <h3>New report for a Comment</h3>

        <p>@item.Text</p>
        <p>@item.Date</p>
        <p>Report ID: @item.Id</p>
        @*<form method="post" asp-page-handler="DeleteReport">
            <input type="hidden" asp-for="DeleteReportId" value="@item.Id" />
            <input type="submit" class="btn btn-danger btn-sm" value="Delete comment report" />
        </form>*@
        
    }
    else if (item.PostId != Guid.Empty)
    {
        <h3>New report for a Post</h3>

        <p>@item.Text</p>
        <p>@item.Date</p>
        <p>Report ID: @item.Id</p>
        @*<a class="btn btn-danger btn-sm" href="?DeletePostId=@item.PostId">Delete POST report</a>*@
    }
</div>
}