@page
@model ForumWeb.Pages.Admin.ReportsAdminModel
@{
}




@foreach (var item in Model.Reports.OrderBy(i => i.Date))
{
    <div class="container">
        @if (item.CommentId != Guid.Empty)
        {
            <h3>New report for a Comment</h3>

            <p>@item.Text</p>
            <p>@item.Date</p>
            <p>@item.Id</p>
        }
        else if (item.PostId != Guid.Empty)
        {
            <h3>New report a Post</h3>

            <p>@item.Text</p>
            <p>@item.Date</p>
            <p>@item.Id</p>
        }
    </div>
}