@page
@model ForumWeb.Pages.Admin.ReportsAdminModel
@{
}




@foreach (var item in Model.Reports)
{
<div class="container">

    @if (item.CommentId != Guid.Empty)
    {
        <h3>New report for a Comment</h3>

        <p>@item.Text</p>
        <p>@item.Date</p>
        <p>Report ID: @item.Id</p>
        <a class="btn btn-info btn-sm" href="?DeleteReportId=@item.Id">Delete post</a>

    }
    else if (item.PostId != Guid.Empty)
    {
        <h3>New report for a Post</h3>

        <p>@item.Text</p>
        <p>@item.Date</p>
        <p>Report ID: @item.Id</p>
        <a class="btn btn-info btn-sm" href="?DeleteReportId=@item.Id">Delete post</a>
    }
</div>
}