@page
@using Microsoft.AspNetCore.Identity;
@using ForumWeb.Areas.Identity.Data;
@model ForumWeb.Pages.CommentPageModel
@inject SignInManager<ForumWebUser> SignInManager
@inject UserManager<ForumWebUser> UserManager
@{
}


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<div class="container">
    <div class="card shadow-lg">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h5>@Model.Post.Text</h5>
                </div>
            </div>
        </div>
    </div> <br />

    @foreach (var comments in Model.UserList.OrderBy(p => p.Date))
    {
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <div class="row">
                            <img style="width:80px; height:80px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(comments.CreatedUser.ProfileImage))">
                            <p class="text-secondary text-center">@comments.Date</p>
                        </div>
                        <div class="row">
                            <a class="text-center btn-danger btn-sm mb-2" asp-page="Report" asp-route-CommentId="@comments.Id">Report</a> <br />
                        </div>
                        <div class="row">
                            <a class="btn btn-dark btn-sm" asp-page="MessageSendToUser" asp-route-userId="@comments.CreatedUser.Id">Send private message</a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <p>
                            <a class="float-left"><strong>@comments.CreatedUser.NickName</strong></a>
                        </p>
                        <div class="clearfix"></div>
                        <p>@comments.Text</p>
                    </div>
                    @if (UserManager.GetUserId(Model.User) == comments.CreatedUser.Id)
                    {
                        <div class="col-md-2">
                            <div class="row float-right">
                                <a class="btn btn-info btn-sm" href="?DeleteCommentId=@comments.Id">Delete comment</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>

@if (SignInManager.IsSignedIn(User))
{
    <div class="container center">
        <div class="row">
            <div class="col-lg-12">
                <div>
                    <h3>Create Comment</h3>
                </div>
                <form method="post">
                    <input style="width:700px; height:50px" asp-for="NewComment.Text" />
                    <input type="hidden" asp-for="NewComment.User" value="@Model.CurrentUser.Id" />
                    <input type="hidden" asp-for="NewComment.PostId" value="@Model.PostId" />
                    <input type="submit" value="Send" />
                </form>
                <span></span>
            </div>
        </div> <br /> <br />
    </div>
}
else
{
    <div class="container">
        <h1>Log in to write a comment </h1>
    </div>
}



